<!-- Header du site qui restera identique sur les différentes pages -->
<header>
    <a href=""><img src="assets/img/logo-businesscase.webp" alt="Logo du site de NFT de Tatty Josy"></a>
    <h1 class = "short display-5">B<span class="display-6">urn </span>Y<span class="display-6">our </span>C<span class="display-6">rypto</span></h1>
    <button class="btn btn-outline-dark bouton-menu" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#menu-slide" aria-controls="menu-slide">
        <fa-icon [icon]="faBars" size="2xl"></fa-icon>
    </button>

    <!-- Nav qui sera masquée tant qu'on ne clique pas sur le bouton de menu -->

    <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="menu-slide"
         aria-labelledby="menu-slideLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="menu-slideLabel">Menu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="nav1">
                <li><a href="/home">Accueil</a></li>
                <li><a href="/nfts">Notre Galerie</a></li>
                <li><a href="/nfts">Mes NFT</a></li>
                <li><a href="/about">A propos</a></li>
                <li><a href="/contact">Nous contacter</a></li>
            </ul>
            <div class="nav2">
                <ul>
                    <li><a href="#" class="btn btn-outline-dark button-inscription" title="Inscription"><span><fa-icon [icon]="faSignUp" size="xl"></fa-icon></span></a></li>
                    <li>
                        <button type="button"
                                class="btn btn-outline-dark button-connexion"
                                data-bs-toggle="modal"
                                data-bs-target="#Connexion-backdrop"
                                title="Connexion"
                                (click)="onClickClose()">
                          <span><fa-icon [icon]="faSignIn" size="xl"></fa-icon></span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</header>
