footer{
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--mygradient);
  height: 4rem;
  color: var(--background);

  img{
    display: inline-block;
    height: 2rem;
  }

  a{
    text-decoration: none;
    color: var(--background);

    &:hover{
      color: var(--font-color-main);
    }
  }
}
