.my-gallery-info{
  background: var(--mygradient);
  height: 400px;
  right: 2rem;
}
.card-text{
  color: black;
}

.card-main-galery{
  //background-color: lightgrey;
  background: var(--mygradient);
  margin-bottom: 1rem;
  width: 18rem;
}
