
<div class="row my-5">
  <div class="col-4 my-gallery-info position-fixed rounded p-3">
    <div class="text-dark">
      <h2 class="text-center mb-3" *ngIf="decodedToken">Gallerie de {{decodedToken.nickname}}</h2>
      <h2 class="text-center mb-3" *ngIf="user$|async as user">Gallerie de {{user.nickname}}</h2>
      <p>Valeur d'achat totale: {{totalValue}} Eth</p>

    </div>
    <div class="my-chart d-block">
      <canvas baseChart width="400" height="150"
              [type]="'line'"
              [datasets]="lineChartData.datasets"
              [labels]="lineChartData.labels"
              [options]="lineChartOptions"
              >
      </canvas>
    </div>
  </div>

  <div class="col-8 d-flex flex-wrap flex-row justify-content-evenly" >
    <div class="card card-main-galery" *ngFor="let acquisition of acquisitions$|async">
      <a [routerLink]="['/', 'nft', acquisition.nft.id]"><img src="{{acquisition.nft.image}}" class="card-img-top" alt=""></a>
      <div class="card-body">
        <p class="card-text">{{acquisition.nft.name}}</p>
      </div>
    </div>
  </div>
</div>
